body,
html,
#root {
    max-height: 100%;
    max-width: 100%;
    font-size: 120%;
    margin: 0px;
    padding: 0px;
}

.dialogue-tree {
    max-height: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

.dialogue-node {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    background: #dddddd;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.dialogue-text,
.dialogue-inventory {
    background-color: grey;
    border: solid black;
    padding: 10px;
}

.dialogue-text {
    order: 1;
}

.dialogue-image {
    order: 2;
}

.dialogue-inventory {
    order: 3;
}

@media (orientation: landscape) {
    body,
    html,
    #root {
        font-size: 100%;
    }
    .dialogue-node {
        flex-direction: row;
    }

    .dialogue-text {
        flex-grow: 3;
        order: 1;
    }
    
    .dialogue-image {
        order: 3;
    }
    
    .dialogue-inventory {
        flex-grow: 1;
        order: 2;
    }
}

ul {
    list-style-type: none
}

img {
    max-width: 100%;
}